@model casestudy.Models.Loginmem

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <title> Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../content/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../content/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../contentvendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../content/css/util.css">
    <link rel="stylesheet" type="text/css" href="../content/css/main.css">
    <!--===============================================================================================-->
    <style>
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=password], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            @Html.AntiForgeryToken()
            <div class="column1">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="../content/Images/Deloitte_Logo.jpeg" alt="IMG">
                </div>
            </div>
            <div class="column1">
                <form class="login100-form  validate-form">
                    <span class="login100-form-title">
                        Member Login
                    </span>


                    <div class=" wrap-input100 validate-input group " data-validate="Valid email is required: ex@abc.xyz">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "" })
                        <div class="">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "" })
                        </div>

                        <span class="focus-input100"></span>
                    </div>

                    <div class=" wrap-input100 validate-input" data-validate="Password is required">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" value="login" class="login100-form-btn" />
                    </div>




                    <div align="center">
                        @Html.ActionLink("New User?", "Signup")
                    </div>
                    <div class="text-center p-t-12">
                        <span class="txt1">
                            Forgot
                        </span>
                        <a class="txt2" href="#">
                            Username / Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!--===============================================================================================-->
                                <script src="../content/vendor/jquery/jquery-3.2.1.min.js"></script> <!--===============================================================================================-->
                                                                <script src="../content/vendor/bootstrap/js/popper.js"></script>
                                                                                <script src="../content/vendor/bootstrap/js/bootstrap.min.js"></script> <!--===============================================================================================-->
                                                                                                                <script src="../content/vendor/select2/select2.min.js"></script> <!--===============================================================================================-->
                                                                                                                                                <script src="../content/vendor/tilt/tilt.jquery.min.js"></script>
                                                                                                                                                                <script>$('.js-tilt').tilt({
			        scale: 1.1
		        })</script> <!--===============================================================================================-->
                                                                                                                                                                                                <script src="../content/js/main.js"></script>}
</body>
</html>
